{% extends 'myapp/base.html' %}
 
{% block title %}Bank Statements | GaugeFinancial{% endblock %}


{% block content %}
    <div class='flex mb-6'>
        <h1 class='text-3xl mr-6'>Bank Statements:</h1>
        <form class="form-inline my-2 my-lg-0">
            <input class="appearance-none border px-4 rounded-md  focus:outline-none  focus:border-gray-500" 
            type="search" placeholder="Search Bank Statements" aria-label="Search" name="search" style="width: 300px;" >
            <button class=" px-2 bg-sky-400 hover:bg-sky-200 text-white" type="submit">Search</button>
        </form>
    </div>

    <ul class="flex space-x-4">
        {% for statement in statements %}
        <div class="px-8 py-4 rounded-xl bg-gray-100 ">
            <li><strong>Name:</strong> {{ statement.name }}</li>
            <li><strong>ID:</strong> {{ statement.bankstatementID }}</li>
            <li><strong>Account Name:</strong> {{ statement.account }}</li>
            <li><strong>Upload Date:</strong> {{ statement.upload_date }}</li>
            <a href={% url 'view-bankstatement' statement.pk %}> 
                <button title="view" class="py-1 px-2 mt-2 bg-sky-400 hover:bg-sky-200 rounded text-white"><ion-icon name="eye"></ion-icon></button> 
            </a>
            <a href={% url 'analyze-bankstatement' statement.pk %} >
                <button title="analyze" class="py-1 px-2 mt-2 bg-sky-400 hover:bg-sky-200 rounded text-white" ><ion-icon name="Bar-chart"></ion-icon></button>
            </a>
            <a href="{{ statement.file.url }}" target="_blank">
                <button title="download" class="py-1 px-2 mt-2 bg-sky-400 hover:bg-sky-200 rounded text-white" ><ion-icon name="Download"></ion-icon></button>
            </a>
            <a href={% url 'delete-bankstatement' statement.pk %}> 
                <button title="delete" class="py-1 px-2 mt-2 bg-sky-400 hover:bg-sky-200 rounded text-white"><ion-icon name="Trash"></ion-icon></button> 
            </a>
        </div>
        {% empty %}
        <li>No bank statements found.</li>
        {% endfor %}
    </ul>
{% endblock %}
