{% extends 'myapp/base.html' %}

{% block title %} Delete Account | GaugeFinancial {% endblock %}

{% block content %}
<div class="flex justify-center items-center " style="margin-top: 100px;">
    <div class="text-center bg-white p-6 rounded-lg shadow-md max-w-md w-full">
        <h2 class="text-2xl mb-6">Account Deletion</h2>
        <p class="text-lg mb-8">Are you sure you want to delete your account?</p>
        
        <!-- Form to confirm deletion -->
        <form action="{% url 'delete-profile'%}" method="post" class="mb-4">
            {% csrf_token %}
            <input type="submit" value="Delete" class="py-2 px-4 bg-sky-500 hover:bg-sky-200 text-white font-bold rounded">
            <a href="{% url 'dashboard' %}" class="py-2 px-4 bg-gray-700 hover:bg-gray-500 text-white font-bold rounded">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}