{% extends 'myapp/base.html' %}
 
 {% block title %}Change Password | GaugeFinancial{% endblock %}


 {% block content %}
 <div class="flex justify-center items-center " style="margin-top: 100px;">
    <div class="text-center bg-gray-50 p-6 rounded-lg shadow-md max-w-md w-full">
        <h1 class="mb-6 text-3xl">Password Reset</h1>
        <form method="POST">
            {% csrf_token %}
            
            {% for field in editform %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small class="text-gray-500">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p class="text-red-500">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            
            <button class="mt-4 py-4 px-8 text-lg bg-sky-800 hover:bg-sky-950 rounded-xl text-white">Save Changes</button>
        </form>
    </div>
</div>
 {% endblock %}
