<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title%}GaugeFinancial{% endblock %}</title>
    </head>
    <body class="bg-sky-950"> 
        <div class="h-lvh flex flex-col justify-center items-center">
            <h1 class="text-white text-5xl font-bold mb-8 text-center">GAUGE FINANCIAL</h1>
            <p class="text-white italic text-base px-8 mb-12 text-center max-w-3xl">Your trusted financial advisor.</p>
            <div class="space-x-4">
                <a href="/register" class="px-6 py-3 text-lg font-semibold bg-sky-600 text-white rounded-xl hover:bg-sky-800 transition-colors duration-300">Sign Up</a>
                <a href="/my-login" class="px-6 py-3 text-lg font-semibold bg-sky-600 text-white rounded-xl hover:bg-sky-800 transition-colors duration-300">Login</a>
            </div>
        </div>
    </body>
</html>