{% extends 'myapp/base.html' %}

{% block title %}Login | GuageFinancial{% endblock %}


{% block content %}
<div class="w-3/4 my-40 p-6 mx-auto bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Login</h1>
    
    <form method="post" action=".">
        {% csrf_token %}
    
        <div class="mb-3">
            <label class='inline-block mb-2'>Username</label><br>
                {{ loginform.username }}
            </div>
            <div class="mb-3">
                <label class='inline-block mb-2'>Password</label><br>
                {{ loginform.password }}
            </div>
           
            {% if loginform.errors or loginform.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in loginform %}
                        {{ field.errors }}
                    {% endfor %}
                    {{ loginform.non_field_errors }}
                </div>
            {% endif %}
    
            <button class="py-4 px-8 text-lg bg-sky-800 hover:bg-sky-950 rounded-xl text-white">Submit</button>
        </form>
    </div>
{% endblock %}
